<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <body>
        <h4>
            I am a Ninja in training.  I enjoyed the WebFun portion of my training, and so far Python/Flask has been at least as much fun.
            I have lots of interests that I would use to fill my spare time if I had any.  I love chess, and running, rock-climbing, reading, and mycology.
            These days, my focus is on coding.  I work in QA for a great company.  My job is awesome, but there's a greater opportunity for me, at the same company, if I
            can simply learn the ways of the CodingDojo Ninja.
        </h4>
        
    </body>
</html>